// generate margins
$m : 5;
@while $m < 51 {
    .mt-#{$m} { margin-top: 1px * $m; }
    .mb-#{$m} { margin-bottom: 1px * $m; }
    .ml-#{$m} { margin-left: 1px * $m; }
    .mr-#{$m} { margin-right: 1px * $m; }
    $m : $m + 5;
}

// generate padding
$p : 5;
@while $p < 51 {
    .pt-#{$p} { padding-top: 1px * $p; }
    .pb-#{$p} { padding-bottom: 1px * $p; }
    .pl-#{$p} { padding-left: 1px * $p; }
    .pr-#{$p} { padding-right: 1px * $p; }
    // .padding-#{$p} { padding: 1px * $p; }
    $p : $p + 5;
}