header.navigation {
 
  $navigation-padding: 1em;
  $navigation-background: $headercolor;
  $navigation-color: shade(darken($skycolor, 10%),40%);
  // $navigation-color: $base-font-color;
  $navigation-color-hover: #000;
  $navigation-height: 50px;
  $navigation-active-link-color: transparentize(white, 0.1);

  background-color: $navigation-background;
  min-height: $navigation-height;
  width: 100%;
  z-index: 9;

  a {
    text-decoration: none;
    font-size: em(18);
  }

  .navigation-wrapper {
    @include clearfix;
    @include outer-container;
    position: relative;
    z-index: 99;
    @include media($md-up) {
      @include pad(0 default);
    }
  }


  // Nav menu

  nav {
    min-height: $navigation-height;
    z-index: 99;
    float: left;
  }

  ul.navigation-menu {
    -webkit-transform-style: preserve-3d; // stop webkit flicker
    // clear: both;
    margin: 0 auto;
    overflow: visible;
    width: 100%;
    z-index: 99;
    display: inline;
    margin: 0;
    padding: 0;
  }

  // The nav items

  ul li.nav-link {
    background: $navigation-background;
    line-height: $navigation-height;
    overflow: hidden;
    text-align: right;
    z-index: 99;
    display: inline;

    a {      
      display: inline-block;
      font-weight: 400;
      padding:0 1em;
      // text-shadow: 1px 1px 1px rgba(0,0,0,0.15);
      @include media ($md-up) {
        padding:0 1.5em;
      }
      color: $navigation-color;
      @include hover {
        color: $navigation-color-hover;
      }
    }
  }

  .active-nav-item a {
    border-bottom: 1px solid $navigation-active-link-color;
    padding-bottom: 3px;
  }

  // Elements on the far right

  .navigation-tools {
    // background: #505050;
    display: block;
    height: $navigation-height;
    background: transparent;
    clear: none;
    float: right;
    @include media($md-up) {
      padding-left: $navigation-padding / 2;
      padding-right: $navigation-padding;
    }
    a{
      height: $navigation-height;
      display: inline-block;
      line-height: $navigation-height;
      padding: 0 1.125em;
      color: $navigation-color;
      @include hover {
        color: $navigation-color-hover;
      }
    }
  } 

}

a#contact {
  
  &.disabled{
    background-color: tint($skycolor,10%);
    color:#fff;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
  }
}


a#responsive{
  font-size: 1em;
  background-color: $yellow;
  color: shade($yellow,60);
  border-bottom-right-radius: $base-border-radius;
  border-bottom-left-radius: $base-border-radius;
  // float: right;
  @include hover {
    color : #000;
    background-color: tint($yellow,30);
  }
  @include media($sm-max) {
    display: none;
  }
}

#sun{
  position: absolute;
  z-index: 100;
  right: -90px;
  top: -90px;
  width: 225px;
  height: 225px;
  display: none;
  @include media($sm-up) {
    display: block;
  }
  @include media($md-up) {
    right: -120px;
    top: -130px;
    width: 300px;
    height: 300px;
  }
  // @include media($lg-up) {
  //   top: -70px;
  //   width: 400px;
  // }

  @include transition(all 0.15s ease-out);
   path{
    @include transition(transform 0.15s ease-out);
  }
  @include hover {
    cursor: pointer;
    @include transform(scale(1.15));
    circle{
      fill: darken(#FFF787, 8);
    }
  };
 
}

body.transition{
  #sun{
    pointer-events:none;
    text {
      display: none;
    }
  }
}