%video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
        @include position(absolute, 0px null null 0px);
        @include size(100%);
    }
}

// Alignement vertical au milieu (IE9+)
%vmiddle_parent{
    @include transform-style(preserve-3d);
}
%vmiddle_child{
    position: relative;
    top: 50%;
    @include transform(translateY(-50%));
}
@mixin vmiddle($child : 'p') {
    @extend %vmiddle_parent;
    @if $child == (p or span or div or h1 or h2 or h3 or h4 or h5 or h6 or strong or em or i){
        #{$child} {@extend %vmiddle_child;}
    } @else {
        .#{$child} {@extend %vmiddle_child;} 
    }
}