.name{
    $namecolor : shade(darken($skycolor, 5%),25%);
    background: $headercolor;
    color: transparentize($namecolor, 0.2);
    font-family: $logo-font;
    font-weight: 300;
    margin: 0;
    text-align: center;
    font-size: 6em;
    @include media($md-up) {
        font-size: 8.5em;
    } 
    text-shadow: 1px 4px 6px #fff, 0 0 0 #000, 1px 4px 6px #fff;
    white-space: nowrap;
    span{
        font-size: 0.65em;
        &:first-child{
            font-size: 0.45em;
        }
    } 
}

.sky{
    // @include linear-gradient(top, shade(darken($blue, 10%),10%) 0%, tint($blue, 15%) 85%, $fallback:tint($blue, 15%));
    background: $skycolor;
    padding-top: 22em;
    overflow: hidden;
    position: relative;
}

.intro{
    color: shade(darken($skycolor, 2%),60%);
    color: #fff;
    // font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-size: em(26);
    @include media($md-up) {
        font-size: em(32);
    }
      
    position: relative;
    z-index: 10;
    margin-bottom: 4.5em;
    text-align: center;
}

.clouds{
    @include outer-container;
    @include pad(0 default);
    @include media($lg-up) {
        @include pad(0);
    }
}


.cloud-wrapper{
    position: relative;
    z-index: 10;

    @include transition(all 1s ease-in-out);
    &:last-child{
        margin-bottom: 4em;
    }
    margin-bottom: 6em;
    font-size: 0.9em;
    @include media($md-up) {
        margin-bottom: 11em;
        @include span-columns(4);
        // @include omega(3n+2);
    }
    
    @include media($lg-up) {
        font-size: 1em; 
         margin-bottom: 12em;
    } 
    &:hover{
        .text-ego{
            opacity: 1;
            @include transform(rotate(-3deg));
        }
    }
}

.cloud{
    width: em(285);
    max-width: 100%;
    height: em(100);
    background: #fff;
    // background: tint($skycolor, 0);
    border-radius: em(100);
    // box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; 
    padding: em(32) em(25);
    margin-left: auto;
    margin-right: auto;
    color: $medium-gray;
    font-size: em(18);
    z-index: 1;
    // @include animation(cloud 4s linear);

    > p{
        font-size: em(20);
        margin: 0;
    }
    .text-ego{
        @include transition(all 0.2s ease-out);
        opacity:0;
        position: absolute;
        bottom: 0.45em;
        right: 1.7em;
    }
    &:after,&:before {
        border-radius: em(100);
        background: #fff;
        // background: tint($skycolor, 0);
        content: '';
        position: absolute;
        z-index: -1;
    }
    &:after{ 
        width: em(90);  
        height: em(90);
        left: em(42);
        top: em(-40);
    }
    &:before{
        width: em(145);
        height: em(145);
        right: em(42);
        top: em(-60);
    }

    &-small{
        z-index: 2;
        width: em(280);
        margin-bottom: 3em;
        font-size: em(10);
        position: absolute;
        top:-3.85em;
        left:-1em;
        // color: #888;
        >p{
            font-size: em(22);
            line-height: 1;
        }
    }
    &-smaller{
        z-index: 2;
        width: em(275);
        margin-bottom: 3em;
        font-size: em(8);
        // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
        position: absolute;
        top:-5em;
        left:-1em;
        >p{
            font-size: em(36);
            line-height: 1;
        }
    }

    &#patron{
        position: absolute;
        z-index: 0;
        opacity: 0;
        box-shadow: none;
        display: none;
        left: 15%;
    }
    
    // &-center{
    //     @include shift(4);
    // }
    
    // &:hover {
    //     >p{
    //         font-size: 4em;
    //         font-weight: 700;
    //         font-variant: small-caps;
    //     }
    //     background: none;
    //     white-space: nowrap;
    //     box-shadow: none; 
    //     &:after, &:before{
    //         background: none;
    //     }
    // }


}