.sky{
    @include linear-gradient(top, shade(darken($blue, 10%),10%) 0%, tint($blue, 15%) 85%, $fallback:tint($blue, 15%));
    padding-top: 6em;
    // height: 800px;
    overflow: hidden;
    position: relative;
}



.row{
    @include row;
    &-1{
        .cloud-wrapper{
            @include shift(0);
        }
    }
    &-2{
        .cloud-wrapper{
            @include shift(4);
        }
    }
    &-3{
        .cloud-wrapper{
            @include shift(8);
        }
    }
}

.cloud-wrapper{
    @include media($md-up);
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: em(62);
}

.cloud{
    width: em(290);
    height: em(100);
    background: #fff;
    border-radius: em(100);
    // box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; 
    padding: em(32) em(25);
    // margin: 0 auto 4em;
    color: $medium-gray;
    font-size: em(18);
    z-index: 1;
    // @include animation(cloud 4s linear);

    > p{
        font-size: em(20);
        margin: 0;
    }
    &:after,&:before {
        border-radius: em(100);
        background: #fff;
        content: '';
        position: absolute;
        z-index: -1;
    }
    &:after{ 
        width: em(90);  
        height: em(90);
        left: em(46);
        top: em(-40);
    }
    &:before{
        width: em(145);
        height: em(145);
        right: em(46);
        top: em(-60);
    }

    &-small{
        z-index: 2;
        width: em(280);
        margin-bottom: 3em;
        font-size: em(12);
        // color: #888;
        >p{
            font-size: em(26);
            line-height: 1;
        }
    }
    &-smaller{
        z-index: 2;
        width: em(275);
        margin-bottom: 3em;
        font-size: em(8);
        >p{
            font-size: em(36);
            line-height: 1;
        }
    }

    &#patron{
        position: absolute;
        z-index: 0;
        opacity: 0;
        box-shadow: none;
        display: none;
        left: 20%;
    }
    
    // &-center{
    //     @include shift(4);
    // }
    
    // &:hover {
    //     >p{
    //         font-size: 4em;
    //         font-weight: 700;
    //         font-variant: small-caps;
    //     }
    //     background: none;
    //     white-space: nowrap;
    //     box-shadow: none; 
    //     &:after, &:before{
    //         background: none;
    //     }
    // }


}