@import "base/normalize/normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "animations/animations";


@import "helpers";
@import "svg";

body{
    // background-color: tint($blue, 15%);
    // @include linear-gradient(top, shade(darken($blue, 10%),10%) 0%, tint($blue, 15%) 75%, tint($blue, 15%) 100%, $fallback:tint($blue, 15%));
}

.container{
    @include outer-container;
    @include pad(0 default);
}

@import "menu";
@import "intro";
@import "sky";

.text-ego{
    font-style: normal;
    // color: complement($brblue);
    color: darken(#FAA8A0, 2%);
    // position: absolute;
}

.svg-container{
    position: relative;
}




#bgff{
    width:100%;
    position:absolute;
    // top: 0px;
    z-index:-10;
    overflow:hidden;

    .ceiling{
        fill: tint($blue, 15%);
    }
    .ground{
        fill: tint(#FFE2BF,30%);
    }
}


.fastfood{
    // @include outer-container;
    position: relative;
    .row{
        @include row();
    }

    // @include perspective(400px);

    h2.enseigne{
        font-family: $logo-font;
        font-weight: 400;
        font-size: em(68);
        color: #fff;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.15);
        position: relative;
        text-align: center;
        padding: em(12) 0;
        // width: 50%;
        // min-width: 270px;
        // max-width: 600px;
        margin: 0 auto 0;
        span{
            color: #FFEDD9;
            // color: darken(#FAA8A0, 0%);
        }

    }

    
}

.choices{
    @include outer-container;
    @include pad(0 default);
    
    @include perspective(200px);

    margin-top: 5em;
    img{
        // width:750px;
    }
}

a.choice{
    display: block;
    
    background-color: #fff;
    // border : $base-border;
    margin-bottom: 1em;
    padding: 1.5em;
    // border-radius: 10px;
    // box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    font-size: em(20);
    color : $medium-gray;


        
    @include hover {
        color : darken($medium-gray, 10%);
        // @include transform(rotateX(0deg));
        // box-shadow: 0px 2px 0px 0px shade($tint-origblue, 5%);
    }

    
    @include media($md-up) {
        @include span-columns(4);
    }

    // @include linear-gradient(left, #fff 0%, #fafafa 48%, #f4f4f4 52%, #fff 100%);
    // margin: 0 auto 1em;
    // width:80%;
    // border-radius: 8px;
    // @include transform-style(preserve-3d);
    // @include backface-visibility(hidden);
    // @include transform(rotateX(8deg));
    // box-shadow: 0px 4px 0px 1px shade($tint-origblue, 5%);
    // @include transition(transform 0.3s ease-out, box-shadow 0.3s ease-out);
   
   p{
    margin: 0;
   }
}



// h2.enseigne{
    //     font-family: 'Fredoka One', $heading-font-family;
    //     font-weight: 400;
    //     font-size: em(52);
    //     color: #777;
    //     text-shadow: 1px 1px 0px rgba(0,0,0,0.15);
    //     position: relative;
    //     text-align: center;
    //     padding: em(12);
    //     @include linear-gradient(left, #fff 0%, #fafafa 48%, #f4f4f4 52%, #fff 100%);
    //     width: 50%;
    //     min-width: 270px;
    //     max-width: 450px;
    //     margin: 0em auto 0;
    //     border-radius: 8px;
    //     @include transform-style(preserve-3d);
    //     @include backface-visibility(hidden);
    //     @include transform(rotateX(12deg));
    //     box-shadow: 0px 4px 0px 1px shade($tint-origblue, 5%);
    //     @include transition(transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out);
    //     span{
    //         // color: darken(#FAA8A0, 2%);
    //     }
    //     &:hover{
    //         @include transform(rotateX(0deg));
    //         box-shadow: 0px 2px 0px 0px shade($tint-origblue, 5%);
    //         cursor: default;
    //     }
    // }





 .ex{
        
        @include span-columns(12);
        @include media($md-up) {
            @include span-columns(4);
            font-size: em(18);
        }
        @extend %panel;
    }





    .couille{
        @include span-columns(12);
        // @include shift(1);
        // @include omega();
        @extend %panel;
        height: 200px;
        overflow: hidden;
        
        .ui{
            @include span-columns(4 of 12);
        }
        .lol{
            @include span-columns(4 of 12);
        }
        .rofl{
            @include span-columns(4 of 12);
        }

        @include media($md-up) {
            @include vmiddle(p);
            @include span-columns(10);
            .ui{
                @include span-columns(4 of 10);
            }
            .lol{
                @include span-columns(4 of 10);
            }
            .rofl{
                @include span-columns(2 of 10);
            }
        }
        
    }
