@import "base/normalize/normalize";
@import "bourbon/bourbon";
@import "base/grid-settings";
@import "neat/neat";
@import "base/base";
@import "base/browser-update";
@import "animations/animations";

// @import "helpers";
@import "modal";

body{
    background: #fff;
    // @include linear-gradient(top, shade(darken($blue, 10%),10%) 0%, tint($blue, 15%) 75%, tint($blue, 15%) 100%, $fallback:tint($blue, 15%));
    // @include transform(translate3d(0,0,0));
    // @include transform-style(preserve-3d);
    // @include transition(transform 1s ease-in-out);

}

.container{
    @include outer-container;
    @include pad(0 default);
}

// .tac {
//     text-align: center;
// }

@import "menu";
@import "sky";


.text-ego{
    font-style: normal;
    // color: complement($brblue);
    color: darken(#FAA8A0, 2%);
    // position: absolute;
}

.svg-container{
    position: relative;
}


$ground : tint(#FFE2BF,45%);

#bgclouds, #bgff {
    width:100%;
    z-index:1;
    overflow:hidden;
    position:absolute;
}


#bgff{
    top:-10em;
    // position: relative;
}


.portfolio{
    background-color: $ground;
    // background-color: tint(#8FD188,40%);
    // @include outer-container;
    // @include perspective(400px);
    padding-bottom: 2em;
    @include media($sm-up) {
        padding-bottom: 4em;
    }
    .container{
        position: relative;
        z-index: 2;
    }
    
}

h2.enseigne{
    font-weight: 400;
    font-size: em(48);
    // color: shade($ground, 50);
    color: #fff;
    @include text3d($ground, 5, 4%);
    position: relative;
    text-align: center;
    padding-top: em(30);
    margin-top: 0;
    margin-bottom: em(44);
    @include media($sm-up) {
        margin-bottom: em(58);
        font-size: em(52); 
    }
    // width: 50%;
    // min-width: 270px;
    // max-width: 600px;
    // span{
    //     color: #FFEDD9;
    //     // color: $ground;
    // }

}

.choices{
    @include row();

    .choice:hover{
        color : darken($medium-gray, 10%);
        @include transform(scale(1.04));
        position: relative;
        z-index: 3;
        // box-shadow: 0px 2px 0px 0px shade($tint-origblue, 5%); 
    }
}

.choice{
    display: block;
    cursor: pointer;
    background-color: #fff;
    // font-size: em(18);
    color : $medium-gray;
    margin-bottom: flex-gutter() *1.25;
    @include media($sm-up) {
        margin-bottom: flex-gutter();
    }
    padding: 1.4em 1.5em;
    position: relative;
    @include transition(transform 0.1s ease-out);
    

    // @include linear-gradient(left, #fff 0%, #fafafa 48%, #f4f4f4 52%, #fff 100%);
    // border : $base-border;
    // border-radius: 10px;
    // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    // box-shadow: 0px 2px 0px 0px desaturate($skycolor, 20%);
    border-bottom: 2px solid desaturate($skycolor, 15%);

    @include media($md-up) {
        @include span-columns(6);
        @include omega(2n);
    }
    
    @include media($lg-up) {
        @include omega-reset(2n);
        @include span-columns(4);
        @include omega(3n);
    }
   
    .type{
        display: inline-block;
        font-size: em(16);
        font-weight: 300;
        // border-right: $base-border;
        // border-bottom: $base-border;
        
        // background-color: #f5f5f5;
        // padding: 0.2em 0.5em;
        // position: absolute;
        top:0;
        left:0;
    }
   
    h3 {
        margin: 0;
        font-weight: 700;
        font-size: 1.125em;
    }

    &.viewed {
        background : #fff7ef;
        border-bottom-color : #dfdfdf;
        // display : none;
   }
}

.close-choice{
    display:none;
    float: right;
    cursor:pointer;
    font-size:1.25em;
    @include transition(transform 0.1s ease-out);
    @include hover {
        color: #000;
        @include transform(scale(1.5));  
    };
}



.video{
    @include videowrapper;
}

.project{
    margin-top: 1.125em;
    color: $base-font-color;
    .video{
        margin-bottom: 1em;
    }
    font-size: em(14);
    @include media($sm-up) {
        font-size: 1em;
    }
    hr{
        margin-left: 10%;
        margin-right: 10%;
        margin: 2.5em 10%;
    }
}

.poster{
    // margin-top: 2em;
    text-align: center;
    img{
        box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
    }
    p{
        font-style: italic;
        color: $medium-gray;
        margin: 0;
        font-size: em(14);
    }
}





footer{
    background-color: #fff;
    // background-color: $ground;
    box-shadow: 0px 1px 2px transparentize(#FFC7A8, 0.2) inset;
    padding: 0.9em 0;
    p{
        display: inline;
        margin: 0;
        // display: inline-block;
        // padding-top: 0.1em;
        line-height: 1.75;
        color: darken(#ffe5c6,5%);
        // font-weight: 700;
    }

}



.linkedin{
    float: right;
    img{
        max-width: 1.75em;
        vertical-align: middle;
    }
    @include transition(transform 0.12s ease-out);
    @include hover {
        @include transform(scale(1.2));  
    };
}