@import "../neat/neat-helpers";

// Neat Overrides
// column et gutter doivent être de la même unité
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen);
$large-screen-up: new-breakpoint(min-width $large-screen 14);

// $visual-grid: true;





// original neat settings
// @import "neat/neat-helpers";

// // Change the grid settings
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 10;
// $max-width: em(1088);

// // Define your breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);
