@import "../neat/neat-helpers";

// Neat Overrides
// column et gutter doivent être de la même unité
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
$max-width: em(1088);

// Breakpoints
$sm-screen: em(640);
$md-screen: em(860);
$lg-screen: em(1088);


$sm-up: new-breakpoint(min-width $sm-screen);
$md-up: new-breakpoint(min-width $md-screen);
$lg-up: new-breakpoint(min-width $lg-screen);


$sm-max: new-breakpoint(max-width ($sm-screen - em(1)));
$md-max: new-breakpoint(max-width ($md-screen - em(1)));

// $visual-grid: true;



// original neat settings

// $column: modular-scale(3, 1em, $golden) !default;
// $gutter: modular-scale(1, 1em, $golden) !default;
// $grid-columns: 12 !default;
// $max-width: em(1088) !default;


// // Define your breakpoints
// $tablet: new-breakpoint(max-width 768px 8);
// $mobile: new-breakpoint(max-width 480px 4);
