// On définit un mixin et un placeholder l'incluant,
// au cas où on aurait besoin d'utiliser le composant dans une media query,
// les placeholder ne peuvent pas être extended dans une media query s'ils sont définis à l'extérieur,
// on se rabat alors vers un mixin.

// Wrapper video
@mixin video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
        @include position(absolute, 0px null null 0px);
        @include size(100%);
    }
}
%video_wrapper {
	@include video_wrapper;
}


@mixin panel{
	background: #fff;
    border: $base-border;
    border-radius: $base-border-radius;
    @include pad();
}
%panel{
    @include panel;
}