// On définit un mixin et un placeholder l'incluant,
// au cas où on aurait besoin d'utiliser le composant dans une media query,
// les placeholder ne peuvent pas être extended dans une media query s'ils sont définis à l'extérieur,
// on se rabat alors vers un mixin.

// Wrapper video
@mixin video_wrapper {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
    position: relative;

    embed,
    object,
    iframe {
        @include position(absolute, 0px null null 0px);
        @include size(100%);
    }
}
%video_wrapper {
	@include video_wrapper;
}


@mixin panel{
	background: #fff;
    border: $base-border;
    border-radius: $base-border-radius;
    padding: 1em;
}
%panel{
    @include panel;
}

%bigspace{
    position: relative;
    text-align: center;
    // height: 200px;
    padding: 5px 20px 20px;
    background: gray(99%);
    // @include linear-gradient(left, #fff 0%, #fafafa 48%, #f5f5f5 52%, #fff 100%);
    width: 500px;
    margin: 3em auto 0;
    border-radius: 6px;
    box-shadow: 4px 1px 0px 0px shade($tint-origblue, 2%), 3px 3px 0px 1px shade($tint-origblue, 6%);
    // &:after, &:before{
    //     content: '';
    //     height: 3.5em;
    //     width: 1.8em;
    //     position: absolute;
    //     top: -3.5em;
    //     background: #FAD2D2;
    //     z-index: -1;
    //     box-shadow: 0px -2px 3px -1px rgba(0,0,0,0.10) inset;
    // }
    // &:before{
    //     left: 6.5em;
    // }
    // &:after{
    //     right: 6.5em;
    // }
    
}