body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  // font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: $smaller-spacing 0 $small-spacing;
}

@for $i from 1 through 6 {
  h#{$i}, .h#{$i} {
    $modular-heading-size : ceil(modular-scale((6 - $i), $em-base)) - 2;
    font-size: em($modular-heading-size);
    // $modpx : modular-scale((6 - $i), $em-base);
    // @debug $modpx;
    // line-height: $base-line-height / strip-units($modular-h-size);
    // line-height: strip-units($modpx * $base-line-height / 100);
  }
}

// h1{
//   $modular-h-size : modular-scale(5, $em-base, 1.5);
//   font-size: $modular-h-size ;
// }
// h2{
//   $modular-h-size2 : modular-scale(4, $em-base, 1.5);
//   font-size: $modular-h-size2 ;
// }

p {
  margin: 0 0 $small-spacing;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}
