// Typography
$base-font-family: 'Lato', $helvetica;
$heading-font-family: $base-font-family;
$logo-font: 'Expletus Sans', $heading-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$smaller-spacing: $base-spacing / 4;
$base-z-index: 0;

// Colors
$origblue: #477dca;
$tint-origblue : tint($origblue, 70%);

$dark-gray: #444;
$medium-gray: #777;
$light-gray: #ddd;

$blue: #b0dcff;
$brblue: #64baff;

$yellow: #fff7b7;
$yellow: #fff787;
// $yellow: #fffdc1;

// $skycolor: tint($blue, 15%);
$skycolor: darken($blue, 5%);
$headercolor : $yellow;
$headercolor : $dark-gray;
$headercolor : #fff;

// Font and background colors

$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: shade(darken($skycolor, 5%),25%);



// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 3px;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 2px adjust-color($skycolor, $lightness: -5%, $alpha: -0.3);
